body,html {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-golden-beautiful-business-opportunities-unlimited-investment-poster-background-material-image_138750.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
	font-size: 3em;
	color: #e2dbdb;
}

hr {
	border-color: #ffc107;
	border-width: 3px;
	max-width: 65px;
}

.buffer {
	height: 10rem;
}

.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-success {
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-success:hover {
	background-color: ee4b08;
	border-color: ee4b08;
	border-width: 4px;
}

.btn-xl {
	padding: 1rem 2rem;
}